:root {
  --sent-bbl-clr: #122147;
  --received-bbl-clr: #0e302f;

  @media (prefers-color-scheme: light) {
    --sent-bbl-clr: #1e22c1c9;
    --received-bbl-clr: #8685ef;
  }
}

.bubble {
  font-size: 0.8em;
  max-width: 50%;
  width: max-content;
  min-width: 15%;
  padding: 0.7em 0.8em;
  padding-block-end: 2em;
  border-radius: 0.5em;
  position: relative;

  & > * {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 600;
  }

  &::after {
    content: attr(data-time);
    position: absolute;
    color: hsla(0, 0%, 100%, 0.8);
    bottom: 0.8em;
    right: 1em;
    font-size: 0.6em;
    font-weight: 600;
  }

  &.sent {
    background: var(--sent-bbl-clr);
    margin-inline-start: auto;
  }

  &.received {
    background: var(--received-bbl-clr);
  }
}
